<!DOCTYPE html>
<html>
  <head>
    <title>
      FORTUNE
    </title>
  </head>
  <body>
    <h1>
      HERE'S YOUR FORTUNE
    </h1>
    <h3> Hi, <%=@the_user%>, your fortune is <%=@the_fortune%>. </h3>
  </body>
</html>